@charset "utf-8";

/* import-notation */
@import 'style.css';

/* import tailwind v4 */

@config "../tailwind.config.js";

@import 'tailwindcss';

/* import tailwind v3 */
@layer tailwind {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
}

@use 'layers' as mat;

@include mat;

.sorted-tailwind {
	@apply block;

	display: none;
}

/* selector-pseudo-element-no-unknown */
:host {
	color: red;
}

:host-context {
	color: red;
}

::ng-deep {
	color: red;
}

/* order/properties-alphabetical-order */
.order-error {
	background: blue;
	color: red;
}

/* shorthand-property-no-redundant-values */
.shorthand-redundant {
	margin: 0;
}

/* at-rule-empty-line-before */
.empty-line-before-error {
	@media (width >= 500px) {
		color: red;
	}
}

/* color-function-notation */
.color-function-error {
	color: rgb(255 0 0);
}

/* color-hex-length */
.hex-length-error {
	color: #f00;
}

/* comment-empty-line-before */
.comment-empty-line-error {
	color: blue;

	/* comment */
	display: block;
}

/* comment-whitespace-inside */
.comment-whitespace-error {
	/* bad */
	color: red;
}

/* custom-media-pattern */
.custom-media-error {
	@custom-media --good-name (max-width: 500px);
}

/* custom-property-empty-line-before */
.custom-property-empty-line-error {
	--prop: 10px;
	--another: 20px;

	display: block;
}

/* custom-property-pattern */
.custom-property-pattern-error {
	--good-name: red;
}

/* declaration-block-no-redundant-longhand-properties */
.declaration-block-longhand-error {
	margin: 10px 0;
}

/* font-family-name-quotes */
.font-family-quotes-error {
	font-family: Arial, sans-serif;
}

/* function-url-quotes */
.function-url-quotes-error {
	background: url('test.png');
}

/* hue-degree-notation */
.hue-degree-notation-error {
	color: hsl(0.5deg 50% 50%);
}

/* keyframe-selector-notation */
.keyframe-selector-error {
	@keyframes slide {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.5;
		}

		100% {
			opacity: 1;
		}
	}
}

/* keyframes-name-pattern */
.keyframes-name-pattern-error {
	@keyframes slide-up {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

/* length-zero-no-unit */
.length-zero-no-unit-error {
	margin: 0;
}

/* lightness-notation */
.lightness-notation-error {
	color: hsl(0deg 0% 0.5);
}

/* media-feature-range-notation */
.media-feature-range-error {
	@media (width >= 1px) and (width <= 2px) {
		color: red;
	}
}

/* number-max-precision */
.number-max-precision-error {
	width: 1.2345px;
}

/* property-no-vendor-prefix */
.property-vendor-prefix-error {
	transform: rotate(45deg);
}

/* rule-empty-line-before */
.rule-empty-line-before-error {
	background: blue;
	color: red;
}

/* selector-attribute-quotes */
.selector-attribute-quotes-error {
	[type='text'] {
		color: red;
	}
}

/* selector-class-pattern */
.selector-class-pattern-error {
	.bad-class-name {
		color: red;
	}
}

/* selector-no-vendor-prefix */
.selector-no-vendor-prefix-error {
	::placeholder {
		color: red;
	}
}

/* selector-not-notation */
.selector-not-notation-error {
	:not(a, div) {
		color: red;
	}
}

/* selector-pseudo-element-colon-notation */
.selector-pseudo-element-colon-notation-error {
	::before {
		content: '';
	}
}

/* selector-type-case */
.selector-type-case-error {
	div {
		color: red;
	}
}

/* value-keyword-case */
.value-keyword-case-error {
	display: flex;
}

/* value-no-vendor-prefix */
.value-no-vendor-prefix-error {
	display: flex;
}
